body, html {
    height: 100%;
    margin: 0;
    flex-direction: column; /* 使用列布局 */
    justify-content: center;
    overflow: hidden;
    align-items: center;
}
div.divs{
    height: 0;
    margin: 0;
    display: flex;
    flex-direction: column; /* 使用列布局 */
    align-items: center;
    background-color: rgb(36, 36, 36); /* 背景颜色 */
}
img.centered-image {
    max-width: 100%;  /* 图片最大宽度为100%，但不超过其原始大小 */
    height: auto;     /* 图片高度自适应 */
    display: block;   /* 移除img的默认inline行为 */
}
.container {
    width: 100%; /* 容器宽度 */
    height: 100vh; /* 容器高度，视口高度 */
    overflow-y: auto; /* 垂直方向上的溢出内容显示滚动条 */
    position: absolute; /* 绝对定位，相对于整个页面 */
    top: 60px; /* 容器顶部距离，等于顶栏的高度 */
    width: 100%; /* 或者您希望的宽度 */
    margin: 0; /* 移除外边距 */
    padding: 0; /* 移除内边距 */
    box-sizing: border-box; /* 边框计算在宽度内 */
    overflow: auto; /* 如果需要滚动条 */
}
button{
    background-color: white;
    border: 1px solid #D0D0D0;
    border-radius: 3px; 
    color: black;
    margin-top: 4px;
    margin-bottom: 4px;
}
button:hover {
    background-color: #E0EEF9;
    border: 1px solid #0078D4;
}

button:active {
    background-color: #CCE4F7;
}
input{
    background-color: white;
    border: 1px solid #D0D0D0;
    border-radius: 2px; 
    outline: none;
    margin-bottom: 4px;
    color: black;
    margin-top: 4px;
    margin-bottom: 4px;
}
input:hover {
    border-bottom : 2px solid #0067C0;
    margin-bottom: 3px;
}
/* 基本的body样式 */
body, html {
    padding: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif; /* 使用常见的字体 */
}
.foreground-content {
    /* 前景内容的样式 */
    position: relative;
    z-index: 10; /* 确保内容在背景之上 */
}

/* 顶栏样式 */
.topbar {
    width: 100%; /* 顶栏宽度 */
    height: 60px; /* 顶栏高度 */
    background-color: #333; /* 顶栏背景颜色 */
    display: flex; /* 使用Flexbox布局 */
    justify-content: space-between; /* 子元素分散对齐 */
    align-items: center; /* 子元素垂直居中 */
    padding: 0 0; /* 顶栏内边距 */
    position: fixed; /* 固定在顶部 */
    top: 0; /* 距离顶部的位置 */
    left: 0; /* 距离左侧的位置 */
    z-index: 1000; /* 确保顶栏在页面最上层 */
}

/* 左侧和右侧容器样式 */
.topbar-left, .topbar-right {
    display: flex;
    align-items: center; /* 子元素垂直居中 */
}

/* 链接美化 */
.author-home {
    text-decoration: none; /* 移除下划线 */
    color: #fff; /* 文字颜色 */
    background-color: #555; /* 背景颜色 */
    padding: 10px 20px; /* 内边距 */
    border-radius: 5px; /* 边框圆角 */
    transition: all 0.3s ease; /* 平滑过渡 */
}

/* 鼠标悬浮状态 */
.author-home:hover {
    background-color: #777; /* 悬浮时的背景颜色 */
    color: #fff; /* 悬浮时的文字颜色 */
}

/* 聚焦状态 */
.author-home:focus {
    outline: none; /* 移除默认的聚焦轮廓 */
    box-shadow: 0 0 0 2px #fff; /* 添加聚焦时的阴影 */
}

/* 激活状态 */
.author-home:active {
    background-color: #444; /* 激活时的背景颜色 */
}

/* 响应式设计 */
@media (max-width: 800px) {
    .author-home {
        padding: 8px 50px; /* 在小屏幕上减小内边距 */
    }
}